<p></p>
<hr>
<p></p>
<h3>Basic Table Example</h3>
<h4>(Without any formatting)</h4>
<p></p>
<table>
  <thead>
    <tr>
      <th align=left>ID</th>
      <th align=left>Name</th>
      <th align=left>Username</th>
      <th align=left>Email</th>
      <th align=left>Street</th>
      <th align=left>Suite</th>
      <th align=left>City</th>
      <th align=left>Zip-Code</th>
      <th align=left>Phone</th>
      <th align=left>Website</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let address of addresses">
      <td>{{ address.id }}</td>
      <td>{{ address.name }}</td>
      <td>{{ address.username }}</td>
      <td>{{ address.email }}</td>
      <td>{{ address.address.street }}</td>
      <td>{{ address.address.suite }}</td>
      <td>{{ address.address.city }}</td>
      <td>{{ address.address.zipcode }}</td>
      <td>{{ address.phone }}</td>
      <td>{{ address.website }}</td>
    </tr>
  </tbody>
</table>
