<p></p>
<hr>
<p></p>
<h3>ag-grid Table Basic Example</h3>

<ag-grid-angular #agGrid style="width: 80%; height: 350px;" class="ag-fresh"
                     [gridOptions]="gridOptions"
                     [showToolPanel]="true"
                     [rowData]="rowData"
                     enableColResize
                     enableSorting
                     enableFilter
                     groupHeaders
                     suppressRowClickSelection
                     toolPanelSuppressGroups
                     toolPanelSuppressValues
                     rowHeight="22"
                     rowSelection="multiple"
                    >
            <ag-grid-column headerName="Name" field="name" [width]="180"></ag-grid-column>
            <ag-grid-column headerName="Username" field="username" [width]="130"></ag-grid-column>
            <ag-grid-column headerName="Email" field="email" [width]="200"></ag-grid-column>
            <ag-grid-column headerName="Street" field="address.street" [width]="130"></ag-grid-column>
            <ag-grid-column headerName="Suite" field="address.suite" [width]="80"></ag-grid-column>
            <ag-grid-column headerName="City" field="address.city" [width]="120"></ag-grid-column>
            <ag-grid-column headerName="ZIP" field="address.zipcode" [width]="100"></ag-grid-column>
            <ag-grid-column headerName="Phone" field="phone" [width]="160"></ag-grid-column>
            <ag-grid-column headerName="Website" field="website" [width]="100"></ag-grid-column>
        </ag-grid-angular>